@layer reset, init, design;

@import url(normalize.css) layer(reset);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap) layer(init);

@layer init {
    :root {
        --primary: #66d4d4;
        --text: #000000;
        --black: #000000;
        --light: #FFFFFF;
        --gray: #3B3E40;
    }
    html {
        font-family: "Open Sans", sans-serif;
        color: var(--black);
        font-weight: 400;
    }
    .page__logo::before {
        content: "";
        display: block;
        background: center / contain no-repeat transparent;
        /*
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        */
        background-image: url("../images/logo.svg");
        width: 2em;
        height: 1em;
        font-size: 1.5em;
    }
    .page__logo > span {
        display: none;
    }
}

/* VRSTVA PRO VAŠE STYLY */
@layer design {
   .image-responsive{
    display: block;
    width: 100%;
   }
   a :hover{
       color: var(--black);
    }
    header{
        color: var(--light);
        margin: auto;
        padding: 5em;
        background-image: url("../images/header-2560w.jpg");
    }
    header h1{
        font-weight: 700;
        font-size: 4em;
    }
   header a{
       font-size: small;
       color: var(--black);
       text-decoration: none;
    }
    header a:hover{
        color:var(--light)
    }
    header p{
        text-align: left;
        margin-right: 50%;
        font-weight: 300;
        font-size: small;
        padding-bottom: 3em;
    }
    main{
        margin: 25em;
        margin-top: 1em;
        padding: 3em;
        font-size: small;
        font-weight: 500;
    }
    main .border{
        border: 3px solid rgb(5, 218, 218);
        padding: 1.25em;
    }
    li::marker{
        color: rgb(5, 218, 218);
    }
    figcaption{
        padding-top: 1.15em;
        text-align: center;
        font-size: smaller;
    }
    footer{
     text-align: center;
     background-color: var(--gray);
     color: var(--light);
    }
    footer p{
     color: var(--light);
     text-decoration: none;
     font-weight: 300;
     padding: 2em 1em;
    }
    .page_section p{
        padding-bottom: 1.5em;
    }
    .page_section a{
    text-decoration: none;
    color: var(--light);
    border-radius: 5px;
    background: rgb(4, 199, 199);
    padding: 10px;
   }
   h2{
    font-size: 2em;
   }
   .container{
    display: flex;
    
   }
}