@layer reset, init, design;

@import url(normalize.css) layer(reset);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap) layer(init);

@layer init {
    :root {
        --primary: #66d4d4;
        --text: #000000;
        --black: #000000;
        --light: #FFFFFF;
        --gray: #3B3E40;
    }
    html {
        font-family: "Open Sans", sans-serif;
        color: var(--black);
        font-weight: 400;
    }
    .page__logo::before {
        content: "";
        display: block;
        background: center / contain no-repeat transparent;
        /*
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        */
        background-image: url("../images/logo.svg");
        width: auto;
        height: 100%;
        font-size: 1.5em;
    }
    .page__logo > span {
        display: none;
    }
}

/* VRSTVA PRO VAŠE STYLY */
@layer design {
   .image-responsive{
    display: block;
    width: 100%;
    margin: 0.5em 0;
   }
   .page__header{
       background-image: url(../images/header-2560w.webp);
       background-size: cover;
       background-position: top bottom;
       padding: 1em;
   }
   .page__header h1{
       font-weight: 700;
       font-size: 4em;
       margin: 0;
    }
    .page__header p{
        text-align: left;
        font-weight: 300;
        font-size: 1em;
        padding: 0 0 1em 0;
        margin-top: 0.75em;
    }
    .page__header a{
        font-size: small;
        color: var(--black);
        text-decoration: none;
    }
    .page__header a:hover{
        color:var(--light)
    }
    .page__logo-container{
        text-align: center;
    }
    .page__logo{
        display: block;
        padding: 1em;
        height: 2em;
        aspect-ratio: 42 / 24;
        margin: 0 auto;
    }
    .page__intro{
        color: var(--light);
        max-width: 768px;
        padding: 3em 1.5em;
     }
    .button{
        display: inline-block;
        background-color: var(--primary, teal);
        color: var(--light, white);
        padding: 1em 2em;
        border-radius: 0.5em;
        font-weight: 700;
        text-decoration: none;
    }
    .button:hover{
        text-decoration: underline;
        text-decoration-thickness: 0.05em;
        background-color: var(--black, black);
        color: var(--light, white);
    }
    .button--light{
        background-color: var(--light, white);
        color: var(--black, black);
    }
    .page__content{
        padding: 1em;
        max-width: 960px;
        margin: 0 auto;
    }
    .outline-box{
        border: 3px solid var(--primary);
        padding: 1.25em;
        margin: 1em 0;
    }
    .outline-box--dark{
        border: none;
        background-color: var(--gray, gray);
        color: var(--light, white);
        text-align: center;
        padding: 4em;
    }
   h2{
    font-size: 2em;
   }
   .podnadpis{
    font-size: 4em;
    margin: 0;
    padding: 0;
   }
   .podnadpis--bigger{
    font-size: 1.5em;
   }
   .page_section{
    padding: 1em;
   }
    .list > li::marker{
        color: var(--primary);
    }
    .picture-box{
        margin: 0;
        padding-bottom: 1.25em;
    }
    .picture-box__title{
        font-size: 0.8em;
        color: var(--gray, gray);
        text-align: center;
        margin-top: 0.75em;
    }
    .product{
        padding: 1em;
        max-width: 24em;
        display: inline-block;
    }
    .gallery__item{
        display: block;
        margin: 0.5em 0;
    }
    @media (min-width: 768px){
        .gallery__item{
            display: inline-block;
            width: calc(50% - 2 * 0.5em);
        }
        .gallery__item--100w{
            display: inline-block;
            width: calc(100% - 2 * 0.5em);
        }
    }
    .page__footer{
     text-align: center;
     background-color: var(--gray);
     color: var(--light);
    }
    .page__footer p{
     color: var(--light);
     text-decoration: none;
     font-weight: 300;
     padding: 2em 1em;
     margin: 0;
    }
}
